/* Banner CSS
** Version 1.0, by SSB April 2024
*/

.mood-banner {
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 120%;
	background-color: #888;
	height: 50px;
	color: #122;
	padding-top: 15px;
	text-align: center;
	vertical-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	-webkit-box-shadow: 3px 3px 5px #666;
	-moz-box-shadow: 3px 3px 5px #666;
	box-shadow: 3px 3px 5px #666;
}

.mood-banner button {
	background-color: #fff;
	border-radius: 4px;
	border-style: none;
	box-sizing: border-box;
	color: #222;
	cursor: pointer;
	display: inline-block;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
	margin-left: 10pt;
	max-width: none;
	min-height: 30px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 20px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-31:hover,
.button-31:focus {
	opacity: .75;
}

.mood-banner button:hover {
	background: #ccc;
	color: #333;
}

.hidden {
	display: none;
}
